.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  background-color: #66ccff;
  height: 150px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button{
  color: #4286f4;
}
.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.buttons:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
